* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

.container-fluid{
    height: 100vh;
}

/* nav bar */
.navbar {
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    min-width: 400px;
    height: 7vh;
}

.navbar-form{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.search-form{
    width: 50%;
    height: 5vh;
}

.search-bar{
    border-radius: 20px;
}

.search-submit{
    border-radius: 10px;
    width: 5vw;
}

/* folders */
.folders {
    background-color: #B5B5B5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20%;
    min-width: 325px;
}

.compose-button{
    width: 200px;
    border-radius: 20px;
    border: #d9d9d9 3px solid;
    display: flex;
    align-self: flex-start;
    background-color: #F0F0F0;
}

.compose-button:hover{
    background-color: #d9d9d9;
    border: #898989 3px solid;
    font-size: large;
}

.inbox{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.folder-name{
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.folder-name:hover{
    text-decoration: underline;
    color: black;
    font-size: large;
    font-weight: 500;
}

/* email */
.email {
    min-height: 30%;
    border-radius: 20px 20px 0px 0px;
    background-color: #999999;
    min-width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-list{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.nav-item{
    background-color: #D9D9D9;
    width: 80%;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
    border: 3px solid #999999;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.subject{
    color: black;
}
.date{
    color: #525252;
}
/* messages */
.messages {
    min-height: 40vh;
    height: 100vh;
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
}

.dot{
    width: 50px;
    height: 50px;
    background-color: #525252;
    border-radius: 50%;
    display: inline-block;
    border: #d9d9d9 3px solid;
}
label{
    font-size: medium;
    color: #525252;
}

.send-btn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    border: #F0F0F0 3px solid;
    background-color: #4E4CB5;
}

.send-btn:hover{
    background-color: #281a5b;
}

/* compose modal */
.modal-content{
    background-color: #F0F0F0;
}