/* .col {
    border: blue solid 3px;
} */

/* .row {
    border: green solid 3px;
} */

/* .col-12{
    border: red solid 3px;
} */

* {
    margin: 0;
}

body {
    background-color: #1E1E1E;
}


.navbar {
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.navbar-form{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.folders {
    background-color: #B5B5B5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    min-width: 375px;
}
.compose-button{
    width: 40%;
    border-radius: 20px;
    border: #d9d9d9 3px solid;
    display: flex;
    align-self: flex-start;
    background-color: #F0F0F0;
}
.compose-button:hover{
    background-color: #d9d9d9;
    border: #898989 3px solid;
    font-size: large;
}

.inbox{
    display: flex;
    width: 90%;
    flex-direction: column;
}
.folder-name{
    color: rgb(48, 48, 48);
    text-decoration: none;
}
.folder-name:hover{
    text-decoration: underline;
    color: black;
    font-size: large;
    font-weight: 500;
}

.email {
    height: 30vh;
    border-radius: 20px 20px 0px 0px;
    background-color: #999999;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .item{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 325px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
} */



.btn-light{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.messages {
    height: 40vh;
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    min-width: 400px;

}